<h3 class="mt-4"><i class="fas {{ .Site.Params.certificates.icon }}"></i> {{ .Site.Params.certificates.title }}</h3>
{{ range .Site.Params.certificates.list }}
<ul class="list-unstyled">
    <li><a class="text-warning" href="{{ .url }}">{{ .title }}</a> - {{ .description | markdownify }}</li>
</ul>
{{ end }}