<head>
  <title>{{ .Site.Params.title }}</title>

  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta name="description" content="{{ .Site.Params.description }}" />
  <meta name="author" content="{{ .Site.Params.author }}" />

  <script src="/src/toggleTheme.js"></script>
  <script src="/src/sada_main.js"></script>

  <link href="{{ `src/bootstrap.min.css` | relURL }}" rel="stylesheet" />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto|Material+Icons"
    rel="stylesheet"
  />
<link rel="stylesheet" href="https://unpkg.com/@coreui/icons@2.0.0-beta.3/css/all.min.css">
  <style>
    .bg-dark {
      background-color: #23272c !important;
    }
    .bg-light {
      background-color: #ddd !important;
    }
  </style>
</head>
