{{ define "main" }}
<div class="row no-gutters">
  <div class="col-sm-4 order-sm-2 bg-secondary text-white p-2">
    {{ partial "profilePhoto" . }}
    {{ partial "aboutDesc" . }}
    {{ partial "language.html" . }}
    <hr style="width:50%;" />
    {{ partial "volunteer.html" . }}
    <hr style="width:50%;" />
    {{ partial "membership.html" . }}
    <hr style="width:50%;" />
    {{ partial "hobby.html" . }}
  </div>

  <div class="col-sm-8 text-white p-2">
    {{ partial "experience.html" . }}
    {{ partial "education.html" . }}
    {{ partial "certificate.html" . }}
    {{ partial "project.html" . }}
    {{ partial "skill.html" . }}
  </div>
</div>
{{ end }}
